<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"gt;
    <meta name="IMG2LCD GUI" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- build:css assets/css/app.css -->
    <link rel="stylesheet" href="css/photon.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    
    <div class="window" ng-app="img2lcd" ng-controller="AppController">
      <header class="toolbar toolbar-header">
        <div class="toolbar-actions">
          <div class="btn-group">
            <button class="btn btn-default btn-large" title="Select Image" ng-click="open()">
              <span class="icon icon-picture"></span>
            </button>
            <button class="btn btn-default btn-large" title="Convert to Hex" id="convertBtn" ng-click="convert()">
              <span class="icon icon-arrows-ccw"></span>
            </button>
            <button class="btn btn-default btn-large" title="Save" ng-click="save()">
              <span class="icon icon-floppy"></span>
            </button>
        </div>
        <!--
        <div class="btn  btn-default btn-large pull-right">
          <span class="icon icon-record"></span>
        </div>
        -->
       </div>
      </header>
      <div class="window-content">
        <div class="padded-more image-side">
         <div id="main" class="content">
           <img id="imagetoconvert"/>
         </div>
        </div>
        <div class="padded-more prop-side">
          <ul class="list-group">
           <li class="list-group-header">
             <p><strong>Properties</strong></p>
           </li>
           <li class="list-group-item">
              <div class="media-body">
                 <strong>Filename</strong>
                 <p id="imgname"></p>
              </div>
           </li>
           <li class="list-group-item">
              <div class="media-body">
                 <strong>Dimension</strong>
                 <p id="imgdim"></p>
              </div>
           </li>
           <li class="list-group-item">
              <div class="media-body">
                 <strong>Size</strong>
                 <p id="imgsize"></p>
              </div>
           </li>
           </ul>
        </div>
      </div>
      <div class="contentarea">
      <textarea id="hex"></textarea>
      </div>
      <footer class="toolbar toolbar-footer">
          <p id="status"></p>
      </footer>
    </div>

    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-route/angular-route.js"></script>
    <script src="js/menu.js" charset="utf-8"></script>
    <script src="js/main.js" charset="utf-8"></script>
  
  </body>
</html>